*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --text-dark: #1c2b40;
  --text-light: #ffffff;
  --main-blue: #2673fd;
  --main-purple: #dfa3f0;
  --white: #ffffff;

  --primary-font: "Spline Sans", system-ui;
  --secondary-font: "Spline Sans Mono", system-ui;

  font-size: 16px;

  --color-bg1: rgb(254, 255, 252);
  --color-bg2: rgb(230, 238, 240);
  --color1: 223, 163, 240;
  --color2: 38, 223, 253;
  --color3: 240, 163, 219;
  --color4: 69, 38, 253;
  --color5: 38, 115, 253;
  --color-interactive: 163, 219, 240;
  --circle-size: 80%;
  --blending: hard-light;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.logo img {
  width: 195px;
  height: 65px;
}

.navbar {
  padding: 1rem 2rem;
  border-radius: 40px;
  border: 2px solid rgba(236, 233, 242, 0.3);
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--text-dark);
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}

.hero {
  padding: 36px 0 129px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark);
  text-align: center;
  position: relative;
}

.hero-svg {
  position: absolute;
  top: 750px;
  right: 350px;
}

h1,
h2 {
  color: var(--text-dark);
  font-family: var(--primary-font);
  font-size: 10.6rem;
  font-weight: 600;
  line-height: 10rem;
  letter-spacing: -1.7px;
}

h4 {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  margin: 4.6rem 0 2rem;
}

.hero-text {
  font-family: var(--secondary-font);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 4.6rem;
  max-width: 1154px;
}

.accent {
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  width: 15.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-dark);
  background: var(--white);
  border-radius: 48px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  outline: none;
  cursor: pointer;
}

.services {
  padding: 142px 0 156px;
}

.services-wrapper h2 {
  margin-left: 5.5rem;
  margin-bottom: 3rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  /* display: grid; */
  /* margin: 0 40px; */
  /* align-items: end;
  height: 100vh;
  
  /* gap: 200px; */
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-dark);
  padding: 4rem;
  background: url(/images/card-bg.svg) no-repeat center;
  position: sticky;
  top: 100px;
}

.decoration-3 {
  position: absolute;
  top: -20px;
  left: -40px;
}

h3 {
  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 600;
}

.card-content {
  position: relative;
  width: 674px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.card-text {
  font-family: var(--secondary-font);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.4rem;
  opacity: 0.8;
}

.card-img {
  position: relative;
}

.decoration-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.card-img img {
  width: 434px;
  height: 429px;
}

.deco {
  position: relative;
}

.decoration-1 {
  position: absolute;
  top: -23px;
  left: -50px;
}

.decoration-2 {
  position: absolute;
  bottom: -45px;
  left: -65px;
}

.about-wrapper {
  padding: 128px 80px;
  background-color: var(--main-blue);
  color: var(--text-light);
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.about-wrapper h2 {
  color: var(--text-light);
}

.section-text {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 1124px;
}

.subheader {
  position: relative;
}

.subheader svg {
  position: absolute;
  left: 50px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

.text-box {
  border-bottom: 2px solid var(--white);
  display: flex;
  justify-content: flex-end;
}
.about-content-text {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 40px;
}

.short {
  max-width: 787px;
}

.middle {
  max-width: 946px;
}

.long {
  max-width: 1065px;
}

.members-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}

.members-img {
  display: flex;
  max-width: 1250px;
  justify-content: space-between;
  padding: 0 15px;
}

.member {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.member span {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
}

.workflow-wrapper {
  padding: 148px 80px;
}

.workflow-box {
  margin-top: 233px;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-arrow {
  position: relative;
  z-index: -1;
}

.item-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 24px 36px;
  border-radius: 32px;
  border: 6px solid rgba(232, 239, 246, 0.8);
  background: rgba(0, 89, 255, 0.7);
  backdrop-filter: blur(10px);
}

.item-box span {
  color: var(--text-light);
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.worflow-1 {
  position: absolute;
  top: -140px;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.first-box {
  transform: rotate(-3deg);
}

.workflow-2 {
  position: absolute;
  top: 0;
  right: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.workflow-2 svg {
  margin-right: 30px;
  margin-bottom: 10px;
}

/* animation for bg */

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-bg svg {
  display: none;
}

.gradient-bg .gradients-container {
  filter: url(#goo) blur(25px);
  width: 100%;
  height: 100%;
}

.gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color1), 0.8) 0,
      rgba(var(--color1), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color2), 0.8) 0,
      rgba(var(--color2), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color3), 0.8) 0,
      rgba(var(--color3), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
}

.gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color4), 0.8) 0,
      rgba(var(--color4), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color5), 0.8) 0,
      rgba(var(--color5), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}

.gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}
